<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>ru.nc.gwt.Project GenServer</servlet-name>
        <servlet-class>ru.nc.gwt.server.GenServerImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ru.nc.gwt.Project GenServer</servlet-name>
        <servlet-class>ru.nc.gwt.server.GenServerImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ru.nc.gwt.Project GenServer</servlet-name>
        <url-pattern>/ru.nc.gwt.Project/generator</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ru.nc.gwt.Project GenServer</servlet-name>
        <url-pattern>/ru.nc.gwt.Project/generator</url-pattern>
    </servlet-mapping>
</web-app>